## Practical Statistics for Data Science

In [47]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births

births = load_births()

print(sqldf("SELECT * FROM births where births > 250000 limit 5;", locals()))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-03-01 00:00:00.000000  268849
2  1975-05-01 00:00:00.000000  254545
3  1975-06-01 00:00:00.000000  254096
4  1975-07-01 00:00:00.000000  275163

In [34]:


q = """
    select 
        date(date) as DOB,
        sum(births) as "Total Births"
    from 
        births
    group by 
        date
        limit 10;    
    """
print(sqldf(q, locals()))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [35]:
# Local vs Global making calling pysqldf bit easier

def pysqldf(q):
    "add this to your script if you get tired of calling locals()"
    return sqldf(q)


print(pysqldf(q))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [36]:
%pwd

'/Users/macbook/Desktop/data_science/practical_stat_ds'

In [40]:
import pandas as pd

filepath = './Data/DimCustomer.csv'

dfcustomer = pd.read_csv(filepath)

In [41]:
dfcustomer.head(3)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,NaN,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,NaN,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,2011-01-07,2-5 Miles

In [45]:
filepath = './Data/FactInternetSales.csv'
dfinternetsales = pd.read_csv(filepath)
dfinternetsales.dtypes

ProductKey                 int64
OrderDateKey               int64
DueDateKey                 int64
ShipDateKey                int64
CustomerKey                int64
PromotionKey               int64
CurrencyKey                int64
SalesTerritoryKey          int64
SalesOrderNumber          object
SalesOrderLineNumber       int64
RevisionNumber             int64
OrderQuantity              int64
UnitPrice                float64
ExtendedAmount           float64
UnitPriceDiscountPct       int64
DiscountAmount             int64
ProductStandardCost      float64
TotalProductCost         float64
SalesAmount              float64
TaxAmt                   float64
Freight                  float64
CarrierTrackingNumber    float64
CustomerPONumber         float64
OrderDate                 object
DueDate                   object
ShipDate                  object
dtype: object

In [49]:
import pandas as pd
from pandasql import sqldf

print(pysqldf(
    '''select FirstName, LastName, EnglishOccupation as 
        "Job Title" from dfcustomer order by FirstName, LastName limit 5
    '''
))

  FirstName   LastName       Job Title
0     Aaron      Adams  Skilled Manual
1     Aaron  Alexander  Skilled Manual
2     Aaron      Allen          Manual
3     Aaron      Baker  Skilled Manual
4     Aaron     Bryant      Management

In [ ]:
# Joining dataframes with SQL

query = '''
    select * from dfcustomer          c
    left outer join dfinternetsales   s
        on (c.CustomerKey = s.Customerkey) limit 5
    
'''

pysqldf(query)